$goldM: goldplay-Medium;
$goldR:  goldplay-regular;

@font-face {
    src: url(fonts/GoldplayMedium.otf);
    font-family: goldplay-Medium;
}

@font-face {
    src: url(fonts/GoldplayRegular.otf);
    font-family: goldplay-Regular;
}