@import "fonts.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $goldM;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;

  @media (min-width: 800px) {
    align-items: flex-start;
    padding-left: 20px;
    box-sizing: border-box;
  }
}

.search_ {
  h1 {
    font-size: 13pt;
  }

  input {
    width: 300px;
    height: 30px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    margin-top: 7px;
    padding-left: 5px;
    outline: none;
    border: 0.5px solid rgb(185, 185, 185);
  }
  width: 90%;
}

.modelStatus {
  width: 300px;
  height: 40px;
  background-color: rgb(1, 58, 104);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2%;
  color: white;
  opacity: 0;

  @media (max-width: 750px) {
    width: 90%;
  }
}

.overlayBuy {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(15, 15, 15, 0.349);

  .divbuy {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form_b {
    width: 500px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    box-sizing: border-box;

    @media (max-width: 750px) {
      width: 90%;
    }

    h1 {
      width: 90%;
      text-align: center;
      margin-bottom: 10px;
    }

    input {
      width: 70%;
      height: 30px;
      background-color: rgb(228, 228, 228);
      border-radius: 5px;
      margin-top: 7px;
      padding-left: 5px;
      outline: none;
      font-size: 13pt;
      border: 0.5px solid rgb(185, 185, 185);
    }

    .btn_buy {
      width: 150px;
      font-size: 11.5pt;
    }

    .btn_cancel {
      background: rgb(189, 20, 20);
      margin-left: 20px;
    }

    p {
      font-size: 13pt;
      width: 90%;
      margin-top: 5px;
    }
  }
}

.cart_ {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list_cart {
  width: 90%;
  margin-bottom: 30px;

  li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 227, 227);
    border-radius: 5px;
    padding: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 20px;
  }

  .btn_delete {
    width: 50px;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    border: none;
    outline: none;
  }
}

.ipt_card {
  width: 88% !important;
}

.shake_card {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotateY(20deg);
  }

  100% {
    transform: rotateY(-10deg);
  }
}

.btnAll {
  width: 90%;
  margin-top: 10px;

  @media (max-width:800px) {
    button {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
}
